body {
    background-color: rgb(177, 206, 236);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: rgb(253, 253, 135);
    font-size: 40px;
}

p {
    color: black;
    font-size: 20px;
}